/* overrides */
html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px; /* Margin bottom by footer height */
}

a.btn {
    margin-top: 1rem;
    margin-bottom: 2rem;
}

h1 {
    font-weight: bold;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.subheading {
    color: gray;
    font-size: 0.8rem;
    font-style: italic;
}


.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px; /* Set the fixed height of the footer here */
    line-height: 60px; /* Vertically center the text there */
    background-color: #f5f5f5;
}

/* navigation */

.navbar--theme .navbar-toggler {
    border: 0 !important;
}

/* member */
.member {
    align-items: center;
}

.stats {
    text-align: center;
}

.tools {
    align-items: center;
    text-align: center;
}

.member > div {
    width: 100%;
}

.member__image--container {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    max-height: 10em;
    max-width: 10em;
    min-height: 5em;
    min-width: 5em;
    margin: 2em 0;
}

.member__image {
    border-radius: 50%;
}

/* table */
th {
    font-weight: normal !important;
}

pre.code {
    border: 1px solid lightgray;
    padding: 1em;
}