{% extends "base.html" %}
{% block title %}404 Not Found{% endblock %}
{% block body %}
<div class="row">
    <div class="col">
        <h1>404 Not Found</h1>
        <p>We couldn't find what you were looking for.</p>
        <a href="/">Home</a>
    </div>
</div>
{% endblock body %}