{% extends "base.html" %}
{% block title %}About us{% endblock %}
{% block body %}
<div class="row">
	<div class="col">
		<h1>About Us</h1>
	</div>
</div>
<div class="row">
	{% for member in members %}
	<div class="member col p-0 pt-2 pb-2 m-4 d-flex flex-column justify-content-start">
		<h3 class="member__name text-monospace">{{ member.name }}</h3>
		<div class="member__image--container">
			<img src="{{ member.image }}" alt="{{ member.name }}" class="member__image img-fluid">
		</div>
		<div>
			<span class="subheading">Biography</span>
			<p>{{ member.bio }}</p>
		</div>
		<div>
			<span class="subheading">Responsibilities</span>
			<p>{{ member.responsibilities }}</p>
		</div>
		<div>
			<span class="subheading">Commits</span>
			<p>{{ member.commits }}</p>
		</div>
		<div>
			<span class="subheading">Issues</span>
			<p>{{ member.issues }}</p>
		</div>
		<div>
			<span class="subheading">Unit Tests</span>
			<p>{{ member.unit_tests }}</p>
		</div>
	</div>
	{% endfor %}	
</div>

<div class="row stats">
	<div class="col">
		<h4>Total Commits</h4>
		<p> 90+ </p>
	</div>

	<div class="col">
		<h4>Total Unit Tests</h4>
		<p> 3 </p>
		<a role="button" class="btn btn-primary" href="{{ url_for('get_test') }}">-Run Unit Tests-</a>
	</div>

    <div class="col">
        <h4>Tools</h4>
        <p>Bootstrap</p>
        <p>Flask</p>
        <p>GitLab</p>
        <p>Google Cloud Platform</p>
        <p>Slack</p>
    </div>

    <div class="col">
        <h4>Total Issues</h4>
	 	<p> 46 </p>
    </div>

</div>

{% endblock %}