<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Krub:400,400i,700,700i" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>{% block title %}{% endblock %} | CS329E IDB</title>
    {% block head %}{% endblock %}
</head>
<body>
    <nav class="navbar--theme navbar navbar-expand-lg navbar-light bg-light">
        <span class="navbar-brand text-monospace">IDB</span>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="/">Home</a>
                <a class="nav-item nav-link" href="/books">Books</a>
                <a class="nav-item nav-link" href="/authors">Authors</a>
                <a class="nav-item nav-link" href="/publishers">Publishers</a>
                <a class="nav-item nav-link" href="/about">About Us</a>
            </div>
        </div>
    </nav>
    <div class="container-fluid p-4">
        <div class="row">
            <div class="col-1"></div>
            <div class="col">
                {% block body %}{% endblock %}
            </div>
            <div class="col-1"></div>
        </div>
    </div>
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <a href="https://gitlab.com/bbeese/cs329e-idb" target="_blank">GitLab</a>
                </div>
                <div class="col text-center">
                    <a href="https://gitlab.com/bbeese/cs329e-idb/issues" target="_blank">GitLab Issues</a>
                </div>
                <div class="col text-center">
                    <a href="https://gitlab.com/bbeese/cs329e-idb/wikis/home" target="_blank">GitLab Wiki</a>
                </div>
                <div class="col text-center">
                    <a href="https://speakerdeck.com/bbeese/cs329e-group5" target="_blank">Speaker Deck</a>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    {% block scripts %}{% endblock %}
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>
</html>