{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block body %}
<div class="row">
    <div class="col d-flex m-auto flex-column">
        <h1>Interactive Book Database</h1>
        <img src="{{image}}" alt="Book image" class="img-fluid m-2">
        <p>A site to search and navigate through a variety of books, authors and publishers.</h4>     
        <p>Get started using our links above!</p>
    </div>
</div>
{% endblock %}