{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block head %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.18/r-2.2.2/datatables.min.css"/>
{% endblock head %}
{% block body %}
<div class="row">
    <div class="col">
        <h1>{{ title }}</h1>
    </div>
</div>
<div class="row">
    <div class="col table-responsive">
    <!-- TODO: refactor -->
        <table class="table" id="data-table">
            <thead class="thead-light">
                <tr>
                    {% if "books" in request.path %}
                    <th scope="col">Title</th>
                    <th scope="col">Authors</th>
                    <th scope="col">Publishers</th>
                    <th scope="col">ISBN</th>
                    <th scope="col">Publication Date</th>
                    <th scope="col">Description</th>
                    <th scope="col">Image</th>
                    {% elif "authors" in request.path %}
                    <th scope="col">Name</th>
                    <th scope="col">Born</th>
                    <th scope="col">Nationality</th>
                    <th scope="col">Description</th>
                    <th scope="col">Education</th>
                    <th scope="col">Alma Mater</th>
                    <th scope="col">Image</th>
                    {% elif "publishers" in request.path %}
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                    <th scope="col">Owner/Parent Company</th>
                    <th scope="col">Website</th>
                    <th scope="col">Location</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                <tr>
                    {% if "book" in request.path %}
                    <th scope="row">
                        <a href="{{ url_for('get_book', id = item['id']) }}">{{ item['title'] }}</a>
                    </th>
                    <th>
                        {% for author in item['book_authors'] %}
                            <a href="{{ url_for('get_author', id = author['id']) }}">{{ author['name'] }}</a><br>
                        {% endfor %}
                    </th>
                    <th>
                        {% for pub in item['book_publishers'] %}
                        <a href="{{ url_for('get_publisher', id = pub['id']) }}">{{ pub['name'] }}</a>
                        {% endfor %}
                    </th>
                    <th>{{ item['isbn'] }}</th>
                    <th>{{ item['publication_date'] }}</th>
                    {% if item["description"] %}
                        <th>{{ item['description'] | truncate(140) }}</th>
                    {% else %}
                        <th></th>
                    {% endif %}
                    <th>
                        <img src="{{ item['image_url'] }}" alt="{{ item['title'] }}" class="img-fluid">
                    </th>
                    {% elif "author" in request.path %}
                    <th scope="row">
                        <a href="{{ url_for('get_author', id = item['id']) }}">{{ item['name'] }}</a>
                    </th>
                    <th>{{ item['born'] }}</th>
                    <th>{{ item['nationality'] }}</th>
                    {% if item["description"] %}
                        <th>{{ item['description'] | truncate(140) }}</th>
                    {% else %}
                        <th></th>
                    {% endif %}
                    {% if item['education'] %}
                        <th>{{ item['education'] }}</th>
                    {% else %}
                        <th>N/A</th>
                    {% endif %}
                    {% if item['alma_mater'] %}
                        <th>{{ item['alma_mater'] }}</th>
                    {% else %}
                        <th>N/A</th>
                    {% endif %}
                    <th>
                        <img src="{{ item['image_url'] }}" alt="{{ item['title'] }}" class="img-fluid">
                    </th>
                    {% elif "publisher" in request.path %}
                    <th scope="row">
                        <a href="{{ url_for('get_publisher', id = item['id']) }}">{{ item['name'] }}</a>
                    </th>
                    {% if item["description"] %}
                        <th>{{ item['description'] | truncate(140) }}</th>
                    {% else %}
                        <th></th>
                    {% endif %}
                    {% if item['owner'] %}
                        <th>{{ item['owner'] }}</th>
                    {% elif item['parent_company'] %}
                        <th>{{ item['parent_company'] }}</th>
                    {% else %}
                        <th></th>
                    {% endif %}
                    <th><a href="{{ item['website'] }}" target="_blank">Link</a></th>
                    {% if item['location'] %}
                        <th>{{ item['location'] }}</th>
                    {% else %}
                        <th>N/A</th>
                    {% endif %}
                    {% else %}
                        <span>404</span>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.18/r-2.2.2/datatables.min.js"></script>
<script>
$(document).ready(function() {
    $('#data-table').DataTable();
});
</script>
{% endblock %}