{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block body %}
    <div class="col item d-flex flex-row">
        {% if "book" in request.path %}
        <div class="col-3 item__image--container">
            {% if item['image_url'] %}
                <img src="{{ item['image_url'] }}" alt="{{ item['title'] }}" class="img-fluid">
            {% endif %}
        </div>
        <div class="col d-flex flex-column">
            <h3>{{ item['title'] }}</h3>
            <div>
                <span class="subheading">Author(s)</span>
                <ul>
                    {% for author in item['book_authors'] %}
                    <li><a href="{{ url_for('get_author', id=author['id']) }}">{{ author['name'] }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <div>
                <span class="subheading">Publishers(s)</span>
                <ul>
                    {% for publisher in item['book_publishers'] %}
                    <li><a href="{{ url_for('get_publisher', id=publisher['id']) }}">{{ publisher['name'] }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            {% if item['description'] %}
                <span class="subheading">Desciption</span>
                <p>{{ item['description'] }}</p>
            {% endif %}
        </div>
        {% elif "author" in request.path %}
        <div class="item__image--container">
                {% if item['image_url'] %}
                    <img src="{{ item['image_url'] }}" alt="{{ item['title'] }}" class="img-fluid">
                {% endif %}
        </div>
        <div class="col d-flex flex-column">
            <h3>{{ item['name'] }}</h3>
            <span class="subheading">Nationality</span>
            <p>{{ item['nationality'] }}</p>
            <span class="subheading">Date of Birth</span>
            <p>{{ item['born'] }}</p>
            <span class="subheading">Description</span>
            <p>{{ item['description'] }}</p>
            <div>
                <span class="subheading">Book(s)</span>
                <ul>
                    {% for book in item['author_books'] %}
                    <li><a href="{{ url_for('get_book', id=book['id']) }}">{{ book['title'] }}</a></li>
                    {% endfor %}
                </ul>
                <span class="subheading">Publisher(s)</span>
                <ul>
                    {% for publisher in item['author_publishers'] %}
                    <li><a href="{{ url_for('get_publisher', id=publisher['id']) }}">{{ publisher['name'] }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% elif "publisher" in request.path %}
        <div class="item__image--container">
                {% if item['image_url'] %}
                    <img src="{{ item['image_url'] }}" alt="{{ item['title'] }}" class="img-fluid">
                {% endif %}
        </div>
        <div class="col d-flex flex-column">
            <h3>{{ item['name'] }}</h3>
            <span class="subheading">Description</span>
            <p>{{ item['description'] }}</p>
            {% if item['location'] %}
            <span class="subheading">Location</span>
            <p>{{ item['location'] }}</p>
            {% endif %}
            {% if item['owner'] %}
            <span class="subheading">Owner</span>
            <p>{{ item['owner'] }}</p>
            {% elif item['parent_company'] %}
            <span class="subheading">Parent Company</span>
            <p>{{ item['parent_company'] }}</p>
            {% endif %}
            <div>
                <span class="subheading">Book(s)</span>
                <ul>
                    {% for book in item['publisher_books'] %}
                    <li><a href="{{ url_for('get_book', id=book['id']) }}">{{ book['title'] }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <div>
                <span class="subheading">Authors(s)</span>
                <ul>
                    {% for author in item['publisher_authors'] %}
                    <li><a href="{{ url_for('get_author', id=author['id']) }}">{{ author['name'] }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% else %}
            <span>404</span>
        {% endif %}
    </div>
{% endblock %}