{% extends "base.html" %}
{% block title %}Tests{% endblock %}
{% block body %}
<div class="row">
    <div class="col">
        <h1>Unit Test Output</h1>
        <pre class="code pre-scrollable">
            {{ output }}
        </pre>
    </div>
</div>
{% endblock body %}